# ----------------------------------------------------
#TEAM INSTRUCTIONS:
#1. Copy this file and rename it to exactly: .env
#2. Ask the team lead for the database passwords.
#3. DO NOT commit your .env file to GitHub.
# ----------------------------------------------------

FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=
DATABASE_URL=
B2_KEY_ID=
B2_APPLICATION_KEY=
