/* style.css */

:root {
    --prim-font-color: #45a6f7;
    --title-font: "Press Start 2P", system-ui;
    --body-font: "IBM Plex Sans Arabic", sans-serif;
}


body { 
    background-color: #f8f8f8;
    color: #58b401;
    font-family: var(--body-font);
    /* 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

h1, .card h3, h2{
    font-family: var(--title-font);
}

.card {
    background-color: #010202;
    color: var(--prim-font-color);
}

/* buttons */
.submit-btn {
    background-color: #58b401;
    border-color: #7bff00;
    color: #f8f8f8;
    font-family: var(--title-font);
    font-size: 1em;
}

.guest-btn {
    font-family: var(--title-font);
    font-size: .9em;
    padding: 10px 20px;
}
